{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/addons/p5.sound.js"></script> -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/addons/p5.sound.js"></script>
    <script src='{% static "OneDrive/Documents/Art/Processing/p5/static_p5/js/library/hsluv.min.js" %}'></script>
    <script src='{% static "OneDrive/Documents/Art/Processing/p5/static_p5/js/library/mixbox.js" %}'></script>
    {% include 'base/js.html' %}
    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
    <meta charset="utf-8" />

  </head>
  <body>
    <main>
      <button id = "audio" onclick = "toggleAudio()">Play</button>
      <button onclick = "saveCanvas('SS', 'png')">Save</button>
    </main>
    <!-- <script>
    var url = "{% static 'media/Make A Move - 160 DM.mp3' %}"
</script> -->
<script>
// var url = "C:/Users/bruce"
var docsUrl = "{% static 'OneDrive/Documents/' %}"
var picsUrl = "{% static 'OneDrive/Pictures/' %}"
var musicUrl = "{% static 'Music/' %}"
var dataURL = "{% static 'OneDrive/Documents/Art/Processing/p5/static_p5/data/' %}"
</script>


    <!-- <script src='{% static "js/earth_x_mars.js" %}'></script> -->
    <script src='{% static "OneDrive/Documents/Art/Processing/p5/static_p5/js/library/grid_functions.js" %}'></script>
    <script src='{% static "OneDrive/Documents/Art/Processing/p5/static_p5/js/library/line_functions.js" %}'></script>
    <script src='{% static "OneDrive/Documents/Art/Processing/p5/static_p5/js/library/easingFuncs.js" %}'></script>
    <script src='{% static "OneDrive/Documents/Art/Processing/p5/static_p5/js/library/colorStuff.js" %}'></script>
    <!-- <script src='{% static "OneDrive/Documents/Art/Processing/p5/static_p5/js/library/moverStuff.js" %}'></script> -->

    <script src='{% static "OneDrive/Documents/Art/Processing/p5/static_p5/js/library/helper_functions.js" %}'></script>
    <script src='{% static "OneDrive/Documents/Art/Processing/p5/static_p5/js/library/shapeFunctions.js" %}'></script>
    <!-- <script src='{% static "js/circle_sunrise2.js" %}'></script> -->
    <!-- <script src='{% static "OneDrive/Documents/Art/Processing/p5/static_p5/js/read_csv.js" %}'></script> -->
    <!-- <script src='{% static "OneDrive/Documents/Art/Processing/p5/static_p5/js/template1.js" %}'></script> -->
    <!-- <script src='{% static "OneDrive/Documents/Art/Processing/p5/static_p5/js/planetaryHarmonics2.js" %}'></script> -->
    <!-- <script src='{% static "OneDrive/Documents/Art/Processing/p5/static_p5/js/spectrogram_to_text.js" %}'></script> -->
    <!-- <script src='{% static "OneDrive/Documents/Art/Processing/p5/static_p5/js/read_spectrograph_animated_black.js" %}'></script> -->
    <script src='{% static "OneDrive/Documents/Art/Processing/p5/static_p5/js/sketches/"|add:object.title|add:".js" %}'></script>


  </body>
</html>
